{{ partial "header.html" . }}
   
    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(/img/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">{{ ( index $.Site.Data.translations $.Site.Params.locale ).animateditem1 }}</h2>
                                    <p class="animation animated-item-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).animateditem2 }}</p>
                                    <br>
                                    <a class="btn btn-md animation animated-item-3" href="/{{ ( index $.Site.Data.translations $.Site.Params.locale ).trips }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).more }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/img/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="boxed animation animated-item-1">{{ ( index $.Site.Data.translations $.Site.Params.locale ).ai3 }}</h2>
                                    <p class="boxed animation animated-item-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).ai4 }}</p>
                                    <br>
                                    <a class="btn btn-md animation animated-item-3" href="/{{ ( index $.Site.Data.translations $.Site.Params.locale ).photog }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).more }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/img/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">{{ ( index $.Site.Data.translations $.Site.Params.locale ).ai5 }}</h2>
                                    <p class="animation animated-item-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).ai6 }}</p>
                                    <a class="btn btn-md animation animated-item-3" href="/hobby">{{ ( index $.Site.Data.translations $.Site.Params.locale ).more }}</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered">
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Facebook</h3>
                            <p><a href="https://www.facebook.com/krzysztof.kajkowski">{{ ( index $.Site.Data.translations $.Site.Params.locale ).face }}</a></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Flickr</h3>
                            <p>{{ ( index $.Site.Data.translations $.Site.Params.locale ).mypublic }} <a href="https://www.flickr.com/photos/cayco/albums">{{ ( index $.Site.Data.translations $.Site.Params.locale ).galleries }}</a> {{ ( index $.Site.Data.translations $.Site.Params.locale ).flickrtext }}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{{ ( index $.Site.Data.translations $.Site.Params.locale ).movies }}</h3>
                            <p>{{ ( index $.Site.Data.translations $.Site.Params.locale ).yentry }} <a href="https://www.youtube.com/channel/UCsr6SYVJ7BaGwxPGPuTIduw">YouTubie</a> {{ ( index $.Site.Data.translations $.Site.Params.locale ).ina }} <a href="https://vimeo.com/user17116704/videos">Vimeo</a></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    

{{ partial "footer.html" . }}