{{ partial "header.html" . }}

    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{{ .Title }}</h1>
                    <p>{{ .description }}</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ .Site.BaseURL }}">Strona główna</a></li>
                        <li class="active">{{ .Title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

<section id="blog" class="container">
    <div class="row">
        <aside class="col-sm-4 col-sm-push-8">


            <div class="widget categories">
                <h3>Wyprawa dzień po dniu</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="arrow">
                            <li><a href="#">Planowanie</a></li>
                            <li><a href="#1i2">Dni 1 i 2 - dojazd do Danii</a></li>
                            <li><a href="#3i4">Dni 3 i 4 - na promie</a></li>
                            <li><a href="#5"></a></li>
                            <li><a href="#6">Dzień 6 - północ wyspy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="arrow">
                            <li><a href="#7">Dzień 7 - interior</a></li>
                            <li><a href="#8">Dzień 8</a></li>
                            <li><a href="#9">Dzień 9</a></li>
                            <li><a href="#10">Dzień 10</a></li>
                            <li><a href="#11">Dzień 11</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.categories-->



        </aside>
        <div class="col-sm-8 col-sm-pull-4">
            <div class="blog">
                <div class="blog-item">
                    
                    

        <p class="lead">{{ .Params.lead }}</p>
        
{{ .Content }}        
        
{{ partial "disqus.html" . }}

                                        </div>
                </div>
                <!--/.blog-item-->
            </div>
        </div>
        <!--/.col-md-8-->
    </div>
    <!--/.row-->
</section>
<!--/#blog-->

{{ partial "footer.html" . }}