{{ partial "header.html" . }}


    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Moja fotografia</h1>
                    <p>Poniżej galeria z moimi zdjęciami. Tutaj kilka wybranych (kliknij w stos). Umieszczam je zwykle na Flickrze gdzie znajdziesz pozostałe (te udane...).</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ .Site.BaseURL }}">Strona główna</a></li>
                        <li class="active">Fotografia</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="blog" class="container">

{{ partial "galeria.html" . }}
        
    </section><!--/#blog-->

{{ partial "footer.html" . }}