{{ partial "header.html" . }}

<section id="portfolio" class="container">

        <ul class="portfolio-items col-2">
            <li class="portfolio-item apps">
                <div class="item-inner">
                    
                    <img src="/img/rajdy.jpg" alt="">
                    <h5>Motocykle - enduro w błocie</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/rajdy.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla bootstrap">
                <div class="item-inner">
                    <img src="/img/foto.jpg" alt="">
                    <h5>Fotografia</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/foto.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>              
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item bootstrap wordpress">
                <div class="item-inner">
                    <img src="/img/gory.jpg" alt="">
                    <h5>Góry zimą</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/gory.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>        
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla wordpress apps">
                <div class="item-inner">
                    <img src="/img/elektronika.jpg" alt="">
                    <h5>Elektronika i Home Automation</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/elektronika.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <img src="/img/bieganie-tb.jpg" alt="">
                    <h5>Bieganie</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/bieganie.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                    </div>    
                </div>       
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/wspinanie.jpg" alt="">
                    <h5>Bouldering</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/wspinanie.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <img src="/img/monocykl.jpg" alt="">
                    <h5>Monocykl</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/monocykl.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/narty.jpg" alt="">
                    <h5>Narty</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/narty.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/ok.jpg" alt="">
                    <h5>Ostre koło</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/ok.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/roboty.jpg" alt="">
                    <h5>Robotyka z moimi chłopakami</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/roboty.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/mac.jpg" alt="">
                    <h5>Hackowanie Mac OS</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/mac.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/hamak.jpg" alt="">
                    <h5>Biwakowanie w hamaku</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/hamak.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/wspinanieskaly.jpg" alt="">
                    <h5>Wspinanie w skałach</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/wspinanieskaly.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/zdjeciadzieci.jpg" alt="">
                    <h5>Zdjęcia moich dzieci</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/zdjeciadzieci.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="/img/paleo.jpg" alt="">
                    <h5>Jedzenie paleo</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="/img/paleo.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
        </ul>
    </section><!--/#portfolio-->  

{{ partial "footer.html" . }}